$mainColor: #ffffff;
$mainAccentColor: #14a76c;
$additionalAccentColor: #ff652f;

$primaryFont: "Rubik", sans-serif;
$secondaryFont: "Nunito", sans-serif;

$mainFontColor: #1f1d2a;
$additionalFontColor: #9fa0a7;
$pointFontColor: #4f5569;

$primaryButtonsColor: $mainAccentColor;
$secondaryButtonsColor: $mainColor;

%mainTextStyle {
    font-family: $primaryFont;
    font-weight: 400;
    color: $mainFontColor;
    font-size: 2.2rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

%secondaryTextStyle {
    @extend %mainTextStyle;
    color: $pointFontColor;
    font-size: 1.8rem;
}

%navStyle {
    font-family: $secondaryFont;
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    color: $mainFontColor;
}

%firstButton {
    background-color: $mainAccentColor;
    font-family: $primaryFont;
    color: $mainColor;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.8rem 7.45rem;
    border-radius: 1.5rem;
    box-shadow: 0 15px 30px rgba(25, 218, 140, 0.25);
    text-align: center;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.7;
    }
}

%secondButton {
    background-color: $mainColor;
    font-family: $primaryFont;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: $mainFontColor;
    padding: 1rem 5.85rem;
    border: 1px solid $pointFontColor;
    border-radius: 1.5rem;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.7;
    }
}
